.sidebar {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  width: 70px;
  height: 100vh;

  padding: 15px 0 15px 15px;

  background-color: #FFFFFF09;
  transition: width 0.1s;

  &.open {
    width: 300px;

    .hide-on-close {
      display: block;
    }
  }

  .hide-on-close {
    display: none;
  }

  .sidebar-body {
    flex-grow: 100;
    overflow: hidden;

    &:hover {
      overflow-y: scroll;
    }
  }
}