:root {
    --color-theme: #185cc9;
    --color-theme-alt: #185cc933;

    --color-title: #FFFFFFFF;
    --color-primary: #FFFFFFDE;
    --color-secondary: #FFFFFF99;
    --color-disabled: #FFFFFF4D;

    --color-background-base: #121212;
    --color-background-1: #FFFFFF09
}